.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-cell{
    display: flex;
    height: 150px;
    width: 95%;
    padding:20px,10px;
    margin-bottom: 20px;
}